<a href="https://colab.research.google.com/github/yommigold/Python_/blob/main/Connecting_Python_to_SQL_Creating_tables%2C_inserting_and_querying_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# Task 1: Create database using SQLite
#!pip install sqlite3
##!pip install pysqlite
import sqlite3

In [7]:
# Connecting to sqlite
# connection object
conn = sqlite3.connect('INSTRUCTOR.db')

In [8]:
# cursor object
cursor_obj = conn.cursor()

In [9]:
# Task 2: Create a table in the database
# Drop the table if already exists.
cursor_obj.execute("DROP TABLE IF EXISTS INSTRUCTOR")

In [10]:
# Creating table
table = """ create table IF NOT EXISTS INSTRUCTOR(ID INTEGER PRIMARY KEY NOT NULL, FNAME VARCHAR(20), LNAME VARCHAR(20), CITY VARCHAR(20), CCODE CHAR(2));"""

cursor_obj.execute(table)

print("Table is Ready")

Table is Ready

In [18]:
#Task 3: Insert data into the table¶
cursor_obj.execute('''insert into INSTRUCTOR values (3, 'Rav', 'Ahuja', 'TORONTO', 'CA')''')
cursor_obj.execute('''insert into INSTRUCTOR values (4, 'Rav', 'Ahuja', 'TORONTO', 'CA')''')

In [20]:
# Now use a single query to insert the remaining two rows of data
cursor_obj.execute('''insert into INSTRUCTOR values (5, 'Raul', 'Chong', 'Markham', 'CA'), (6, 'Hima', 'Vasudevan', 'Chicago', 'US')''')

In [21]:
# Task 4: Query data in the table¶
statement = '''SELECT * FROM INSTRUCTOR'''
cursor_obj.execute(statement)

print("All the data")
output_all = cursor_obj.fetchall()
for row_all in output_all:
  print(row_all)

All the data
(1, 'Rav', 'Ahuja', 'TORONTO', 'CA')
(2, 'Rav', 'Ahuja', 'TORONTO', 'CA')
(3, 'Rav', 'Ahuja', 'TORONTO', 'CA')
(4, 'Rav', 'Ahuja', 'TORONTO', 'CA')
(5, 'Raul', 'Chong', 'Markham', 'CA')
(6, 'Hima', 'Vasudevan', 'Chicago', 'US')

In [22]:
## Fetch few rows from the table
statement = '''SELECT * FROM INSTRUCTOR'''
cursor_obj.execute(statement)

print("All the data")
# If you want to fetch few rows from the table we use fetchmany(numberofrows) and mention the number how many rows you want to fetch
output_many = cursor_obj.fetchmany(2)
for row_many in output_many:
  print(row_many)

All the data
(1, 'Rav', 'Ahuja', 'TORONTO', 'CA')
(2, 'Rav', 'Ahuja', 'TORONTO', 'CA')

In [23]:
# Fetch only FNAME from the table
statement = '''SELECT FNAME FROM INSTRUCTOR'''
cursor_obj.execute(statement)

print("All the data")
output_column = cursor_obj.fetchall()
for fetch in output_column:
  print(fetch)

All the data
('Rav',)
('Rav',)
('Rav',)
('Rav',)
('Raul',)
('Hima',)

In [24]:
#Bonus: now write and execute an update statement that changes the Rav's CITY to MOOSETOWN
query_update='''update INSTRUCTOR set CITY='MOOSETOWN' where FNAME="Rav"'''
cursor_obj.execute(query_update)

In [25]:
statement = '''SELECT * FROM INSTRUCTOR'''
cursor_obj.execute(statement)

print("All the data")
output1 = cursor_obj.fetchmany(2)
for row in output1:
  print(row)

All the data
(1, 'Rav', 'Ahuja', 'MOOSETOWN', 'CA')
(2, 'Rav', 'Ahuja', 'MOOSETOWN', 'CA')

In [26]:
# Task 5: Retrieve data into Pandas
# In this step we will retrieve the contents of the INSTRUCTOR table into a Pandas dataframe
import pandas as pd
#retrieve the query results into a pandas dataframe
df = pd.read_sql_query("select * from instructor;", conn)

#print the dataframe
df

   ID FNAME      LNAME       CITY CCODE
0   1   Rav      Ahuja  MOOSETOWN    CA
1   2   Rav      Ahuja  MOOSETOWN    CA
2   3   Rav      Ahuja  MOOSETOWN    CA
3   4   Rav      Ahuja  MOOSETOWN    CA
4   5  Raul      Chong    Markham    CA
5   6  Hima  Vasudevan    Chicago    US

In [27]:
#print just the LNAME for first row in the pandas data frame
df.LNAME[0]

'Ahuja'

In [29]:
# For example you can use the shape method to see how many rows and columns are in the dataframe
df.shape

(6, 5)

In [30]:
# Task 6: Close the Connection
# We free all resources by closing the connection. Remember that it is always important to close connections so that we can avoid unused connections taking up resources.

# Close the connection
conn.close()